@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
.bg {
  @apply bg-slate-100 dark:bg-slate-800;
}
.bg-pop {
  @apply bg-slate-300 dark:bg-slate-900;
}
.text {
  @apply text-slate-800 dark:text-slate-300;
}
.text-pop {
  @apply text-black dark:text-white;
}
.text-dem {
  @apply text-slate-600 dark:text-slate-400;
}

.required:after {
  content: " *";
  @apply text-red-600;
}
